{% extends "orderview.html" %}
{% load static %}
{% block content %}
<div class="row">

  <div class="col-md-3 col-lg-3">
    <div style="padding:0px 0px;" class="card">
      <div style="padding:0px 0px;padding-top:5px;"class="content">
        <center><h3 style="margin:0px 0px 0px 0px;height:50px;padding-top:15px;">Barcode Encoding</h3></center>
        <hr>
        <center><h3><b><i class="rupee sign icon"></i>199</b></h3></center>
      </div>
      <div class="footer">
        <center><h4><a style="border-radius:3px;width:95%;margin: 5px 5px 5px 5px;" class="btn btn-fill btn-lg btn-danger" >Buy Now</a></h4></center>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-lg-3">
    <div style="padding:0px 0px;" class="card">
      <div style="padding:0px 0px;padding-top:5px;"class="content">
        <center><h3 style="margin:0px 0px 0px 0px;height:50px;padding-top:15px;">Magnetic Stripe</h3></center>
        <hr>
        <center><h3><b><i class="rupee sign icon"></i>399</b></h3></center>
      </div>
      <div class="footer">
        <center><h4><a style="border-radius:3px;width:95%;margin: 5px 5px 5px 5px;" class="btn btn-fill btn-lg btn-danger" >Buy Now</a></h4></center>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-lg-3">
    <div style="padding:0px 0px;" class="card">
      <div style="padding:0px 0px;padding-top:5px;"class="content">
        <center><h3 style="margin:0px 0px 0px 0px;height:50px;padding-top:15px;">RFID Encoding</h3></center>
        <hr>
        <center><h3><b><i class="rupee sign icon"></i>699</b></h3></center>
      </div>
      <div class="footer">
        <center><h4><a style="border-radius:3px;width:95%;margin: 5px 5px 5px 5px;" class="btn btn-fill btn-lg btn-danger" >Buy Now</a></h4></center>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-lg-3">
    <div style="padding:0px 0px;" class="card">
      <div style="padding:0px 0px;padding-top:5px;"class="content">
        <center><h3 style="margin:0px 0px 0px 0px;height:50px;padding-top:15px;">Proximity-Card</h3></center>
        <hr>
        <center><h3><b><i class="rupee sign icon"></i>799</b></h3></center>
      </div>
      <div class="footer">
        <center><h4><a style="border-radius:3px;width:95%;margin: 5px 5px 5px 5px;" class="btn btn-fill btn-lg btn-danger" >Buy Now</a></h4></center>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
