{% extends "orderview.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-5 col-lg-5">
    <div class="card">
        <div class="content" style="padding-bottom:20px;">
          <form  action="." method="post">
            <center><input type="number" name="" class="form-control border-input" value="" placeholder="Expected production days required"></center>
            <hr>
            <center><button style="border-radius:3px; margin-right:20px;" type="submit" class="btn btn-fill btn-info" name="button">Submit</button><button style="border-radius:3px;" type="submit" class="btn btn-fill btn-success" name="button"><b><i class="boxes icon"></i> Proceed to shipping</b></button></center>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
