{% extends "orderview.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-5 col-lg-5">
    <div class="card">
        <div class="content" style="padding-bottom:20px;">
          <p>Here is the shipping address!</p>
          <hr>
          <center><button style="border-radius:3px;" type="submit" class="btn btn-fill btn-success" name="button"><b><i class="shipping fast icon"></i>  Ready for shipping</b></button></center>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
