{% extends "orderview.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-lg-4">
    <h3><b>Upload Template</b></h3>
  </div>
</div>
<hr>
<form action="" method="post" encypt="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div style="padding: 15px 15px;box-shadow:none;" class="card">
        <b><input type="file" name="image1" value=""></b>
        <hr>
        <img style="width:100%;border-radius:17px;margin-bottom:0px;"class="card-img-top" src="{% if fimage %}/{{fimage.url}}{% else %}/static/template/demo1.jpg{% endif %}" alt="">
        <hr>
        <div class="footer">
          <h6>Upload front template</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4">
      <div style="padding: 15px 15px;box-shadow:none;" class="card">
        <b><input type="file" name="image2" value=""></b>
        <hr>
        <img style="width:100%;border-radius:17px;margin-bottom:0px;"class="card-img-top" src="{% if bimage %}/{{bimage.url}}{% else %}/static/template/demo2.jpg{% endif %}" alt="">
        <hr>
        <div class="footer">
          <h6>Upload rear template</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <button style="border-radius:5px;" type="submit" name="postimage" class="btn btn-fill btn-info">Submit</button>
    </div>
  </div>
</form>
{% endblock content %}
